include tags-data

- var title = 'Популярные тэги'

section.header__tags.tags
  h2.tags__title= title
  //- support ~ if (true) gap ? margin 0 -10px 0 0
  ul.tags__list
    each item in items
      +tag(item)