-
	var items = [
		{
			text: 'Дизайн',
			link: 'design'
		},
		{
			text: 'Фотография',
			link: 'photo'
		},
		{
			text: 'Творчество',
			link: 'creativity'
		},
		{
			text: 'Архитектура',
			link: 'architecture'
		},
		{
			text: 'Интерьер',
			link: 'interior'
		},
		{
			text: 'Декор',
			link: 'decor'
		},
		{
			text: 'Стиль',
			link: 'style'
		},
		{
			text: 'Мода',
			link: 'fashion'
		},
		{
			text: 'Тренд',
			link: 'trend'
		},
		{
			text: 'Эстетика',
			link: 'aesthetics'
		},
		{
			text: 'Люди',
			link: 'people',
		},
		{
			text: 'Портрет',
			link: 'portrait'
		},
		{
			text: 'Дорога',
			link: 'road'
		},
		{
			text: 'Путешествия',
			link: 'travel'
		},
		{
			text: 'Природа',
			link: 'nature'
		},
		{
			text: 'Горы',
			link: 'mountains'
		},
		{
			text: 'Океан',
			link: 'ocean'
		},
		{
			text: 'Море',
			link: 'sea'
		},
		{
			text: 'Животные',
			link: 'animals'
		},
		{
			text: 'Черно-белое',
			link: 'black-and-white'
		}
	];