extends ../layout/layout
include ../components

block variables
  - var title = 'm.Mind';
  - var pageClass = 'main';

block content
  include ../modules/header/header
  main(class=pageClass)
    h1.visually-hidden Галерея фотографий M.Mind
    include ../modules/art/art
    include ../modules/button
  include ../modules/footer/footer