extends ../layout/layout
block content
  body.sitemap
    section.map
      .map__wrapper
        ul.map__list
          li.map__item
            a.map__link(href="index.html" title="Главная страница") Главная страница - index.html