-
	var pictures = [
		{
			width: '548',
			height: '380',
			alternative: 'city',
			likes: '32 574'
		},
		{
			width: '548',
			height: '380',
			alternative: 'whale',
			likes: '45 670'
		},
		{
			width: '264',
			height: '380',
			alternative: 'alternative description',
			likes: '42 666'
		},
		{
			width: '548',
			height: '380',
			alternative: 'killer whale',
			likes: '12 054'
		},
		{
			width: '264',
			height: '380',
			alternative: 'boat',
			likes: '12 839'
		},
		{
			width: '264',
			height: '380',
			alternative: 'boy',
			likes: '94 326'
		},
		{
			width: '264',
			height: '380',
			alternative: 'woman',
			likes: '29 683'
		},
		{
			width: '548',
			height: '380',
			alternative: 'girl on your knees',
			likes: '89 367'
		},
		{
			width: '548',
			height: '180',
			alternative: 'church',
			likes: '84 669'
		},
		{
			width: '548',
			height: '180',
			alternative: 'train',
			likes: '39 591'
		},
		{
			width: '264',
			height: '380',
			alternative: 'pug',
			likes: '9 854'
		},
		{
			width: '548',
			height: '180',
			alternative: 'road',
			likes: '13 256'
		},
		{
			width: '548',
			height: '180',
			alternative: 'bridge',
			likes: '57 900'
		},
		{
			width: '548',
			height: '380',
			alternative: 'spiral',
			likes: '90 181'
		},
		{
			width: '264',
			height: '380',
			alternative: 'horse',
			likes: '112 563'
		},
	];