@use './global/library.scss' as lib;

.art {
	margin-bottom: 108px;

	@media (max-width: lib.$tablet) {
		margin-bottom: 80px;
	}

	@media (max-width: 580px) {
		margin-bottom: 60px;
	}
}

.art__list {
	@include lib.reset-list;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	//grid-auto-rows: 180px;
	grid-auto-flow: row dense;

	gap: 1.4285%;
}

.art__item {
	position: relative;

	&--large {
		grid-column: span 2;
		grid-row: span 2;
	}

	&--vertical {
		grid-column: span 1;
		grid-row: span 2;
	}

	&--horizontal {
		grid-column: span 2;
		grid-row: span 1;
	}
}

.art__link {
	z-index: 1;
}

.art__like {
	display: flex;
	align-items: center;
	position: absolute;
	top: 14px;
	left: 10px;
	border: none;
	background-color: transparent;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	cursor: pointer;
	z-index: 2;

	svg {
		margin-right: 8px;

		@media (max-width: 580px) {
			margin-right: 4px;
		}
	}

	@media (max-width: lib.$tablet) {
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
	}

	@media (max-width: 580px) {
		font-size: 10px;
		line-height: 14px;

		top: 6px;
		left: 6px;
	}
}



















