block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Site author")
    meta(name="description" content="content")
    //- link(rel="icon" href="/favicon.ico")
    //- link(rel="icon" href="/favicon.svg" type="image/svg+xml")
    //- link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="preload" href="fonts/source-sans-pro/400.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="fonts/source-sans-pro/600.woff2" as="font" type="font/woff2" crossorigin)
    title #{title}
  body
    block content
    block scripts
      script(src="js/main.js")